body {
    font-family: 'Arial', sans-serif;
    background-color: #ced3d2;
    color: #928f8f;
    margin: 0;
    padding: 0;
    transition: box-shadow 0.3s;
}

body:hover {
    box-shadow: 0 4px 20px rgba(43, 40, 40, 0.2);
}

header {
    font-family: 'Playwrite CU', sans-serif;
    background-color: #000;
    color: #aaa;
    padding: 0.5rem 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header-image {
    width: 120px;
    height: 120px;
}

nav {
    text-align: center;
    background-color: #000;
    padding: 0.5rem 0;
}

.nav-button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #020507;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.nav-button:hover {
    background-color: #0a1014;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

main {
    padding: 1rem;
    max-width: 800px;
    margin: 2rem auto;
}

section {
    padding: 1.5rem;
    background-color: #0c0909;
    border: 1px solid #1b1b1b;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

h2 {
    color: #f3f4f5;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #cfd8dc;
}

.social-icons a {
    margin: 0 0.5rem;
    text-decoration: none;
    color: #007acc;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #005fa3;
}

.projeto {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    border: 1px solid #eceff1;
    border-radius: 8px;
    padding: 1rem;
    background-color: #f9f9f9;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.projeto-imagem {
    width: 150px;
    height: auto;
    margin-right: 1rem;
    border-radius: 5px;
}

.projeto-descricao {
    flex: 1;
}

/* Responsividade */
@media (max-width: 600px) {
    .nav-button {
        display: block;
        width: 100%;
        margin: 5px 0;
    }

    .header-image {
        width: 100px;
        height: 100px;
    }

    section {
        padding: 1rem;
    }

    .projeto {
        flex-direction: column;
        align-items: flex-start;
    }

    .projeto-imagem {
        margin-bottom: 1rem;
        width: 100%; /* Imagem ocupa 100% da largura disponível */
    }
}
